<%= stylesheet_link_tag params[:controller] %>
<p><%= link_to 'Sign in ', controller: 'users' %></p>
<p><%= link_to ' Tell us how we\'re doing!', controller: 'user_comments' %></p>

<section id="logo-search-container">
  <header id="logo"></header>

  <%= form_tag (root_url + "search"), method: :get, :enforce_utf8 => false, id: "search-form" do %>
    <%= text_field_tag :q, params[:q], placeholder: "Type ingredients...", id: "search_bar", :autocomplete => :off, autofocus: "autofocus" %>
    <%= submit_tag "", name: nil, id: "sButton" %>
  <% end %>
</section>
