<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Servings</th>
      <th>Prep time</th>
      <th>Cook time</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
			<%= link_to recipe.name, recipe.recipe_url %>
		</td>
        <td><%= recipe.servings %></td>
        <td><%= recipe.prep_time %> minutes</td>
        <td><%= recipe.cook_time/60 %> hours</td>
        <td><img src="<%= recipe.image_url %>" style="width:25%;height:auto;"></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="9">
        <% if @recipes.size == 0 %>
          <em>No Recipes Found</em>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
