<%= stylesheet_link_tag params[:controller] %>

<section id="logo-search-container" class="search">
  <header id="logo" onclick="window.location='/'"></header>

  <%= form_tag (root_url + "search"), method: :get, :enforce_utf8 => false, id: "search-form" do %>
    <%= text_field_tag :q, params[:q], placeholder: "Type ingredients...", id: "search_bar", :autocomplete => :off, autofocus: "autofocus" %>
    <%= submit_tag "", name: nil, id: "sButton" %>
  <% end %>
</section>

<% if params.has_key?(:q) %>
  <section id="recipe-container">
    <% @recipes[0] %>
    <% if @recipes.size == 0 %>
      No Recipes Found
    <% else %>
      <% @recipes.each do |recipe| %>
        <section class="recipe-card">
          <a class="recipe-card-link" target="_blank" href="<%= recipe.recipe_url %>">
            <section class="recipe-image" style="background-image:url('<%= recipe.image_url %>');"></section>
            <section class="recipe-info">
              <h1><%= truncate(recipe.name, :length => 42) %></h1>

              <% if recipe.servings > 0 %><p class="recipe-servings">Serves <%= recipe.servings %></p><% end %>

              <% if recipe.prep_time > 0 %>
                <p class="recipe-time">
                  Prep:
                  <% if recipe.prep_time < 60 %>
                    <%= recipe.prep_time %> m
                  <% else %>
                    <!-- Three significant digits or less are printed -->
                    <%= sprintf('%.3g', Float(recipe.prep_time) / 60) %> h
                  <% end %>
                </p>
              <% end %>

              <% if recipe.cook_time > 0 %>
                <p class="recipe-time">
                  Cook:
                  <% if recipe.cook_time < 60 %>
                    <%= recipe.cook_time %> m
                  <% else %>
                    <!-- Three significant digits or less are printed -->
                    <%= sprintf('%.3g', Float(recipe.cook_time) / 60.0) %> h
                  <% end %>
                </p>
              <% end %>

              <% if recipe.total_time > 0 %>
                <p class="recipe-time">
                  Ready in:
                  <% if recipe.total_time < 60 %>
                    <%= recipe.total_time %> m
                  <% else %>
                    <!-- Three significant digits or less are printed -->
                    <%= sprintf('%.3g', Float(recipe.total_time) / 60.0) %> h
                  <% end %>
                </p>
              <% end %>

              <ul>
                <!-- We do the two parts separately so relevant ingredients are at the top -->
                <% recipe.ingredients.collect(&:name).each do |ingredient| %>
                  <% ings = params[:q].split(/,/) %>
                  <% if ings.any? { |ing| ingredient.include? ing.strip().downcase() } and not ingredient.blank? %><li class="relevant"><%= ingredient %></li><% end %>
                <% end %>
                <% recipe.ingredients.collect(&:name).each do |ingredient| %>
                  <% ings = params[:q].split(/,/) %>
                  <% if not ings.any? { |ing| ingredient.include? ing.strip().downcase() } and not ingredient.blank? %><li><%= ingredient %></li><% end %>
                <% end %>
              </ul>
            </section>
          </a>
          <section class ="recipe-save">
          <!-- Save button -->
          <%= form_tag(action: "save", method: "post", :recipe_id => id) do %>
            <%= submit_tag "Save" %>
            <!-- this should change from save to saved when button is clicked -->
            <% link_to (recipe.users ? "Save" : "Saved") %>
           <% end %>
          </section>
        </section>
      <% end %>
    <% end %>
  </section>
<% end %>
