<%= stylesheet_link_tag params[:controller] %>

<section id="logo-search-container" class="search">
  <header id="logo" onclick="window.location='/'"></header>

  <%= form_tag (root_url + "search"), method: :get, :enforce_utf8 => false, id: "search-form" do %>
    <%= text_field_tag :q, params[:q], placeholder: "Type ingredients...", id: "search_bar", :autocomplete => :off, autofocus: "autofocus" %>
    <%= submit_tag "", name: nil, id: "sButton" %>
  <% end %>
</section>

<% if params.has_key?(:q) %>
  <section id="recipe-container">
    <% ings = params[:q].split(/,/) %>
    <% if @recipes.size == 0 %>
      No Recipes Found
    <% else %>
      <% @recipes.each do |recipe| %>
        <section class="recipe-card">
          <a class="recipe-card-link" target="_blank" href="<%= recipe.recipe_url %>">
            <section class="recipe-image" style="background-image:url('<%= recipe.image_url %>');"></section>
            <section class="recipe-info">
              <h1><%= truncate(recipe.name, :length => 42) %></h1>

              <% if recipe.servings > 0 %><p class="recipe-servings">Serves <%= recipe.servings %></p><% end %>

              <% if recipe.prep_time > 0 %>
                <p class="recipe-time">
                  Prep:
                  <% if recipe.prep_time < 60 %>
                    <%= recipe.prep_time %> m
                  <% else %>
                    <!-- Three significant digits or less are printed -->
                    <%= sprintf('%.3g', Float(recipe.prep_time) / 60) %> h
                  <% end %>
                </p>
              <% end %>

              <% if recipe.cook_time > 0 %>
                <p class="recipe-time">
                  Cook:
                  <% if recipe.cook_time < 60 %>
                    <%= recipe.cook_time %> m
                  <% else %>
                    <!-- Three significant digits or less are printed -->
                    <%= sprintf('%.3g', Float(recipe.cook_time) / 60.0) %> h
                  <% end %>
                </p>
              <% end %>

              <% if recipe.total_time > 0 %>
                <p class="recipe-time">
                  Ready in:
                  <% if recipe.total_time < 60 %>
                    <%= recipe.total_time %> m
                  <% else %>
                    <!-- Three significant digits or less are printed -->
                    <%= sprintf('%.3g', Float(recipe.total_time) / 60.0) %> h
                  <% end %>
                </p>
              <% end %>

              <ul>
                <% @ingredients.select { |e| e.recipe_id == recipe.id }.each do |ing| %>
                  <li<% if ings.any? { |i| ing.name.include? i.strip().downcase() } %> class="relevant"<% end %>><%= ing.name %></li>
                <% end %>
              </ul>
            </section>
          </a>
          <section class="recipe-save">
            <%= link_to_toggle_recipe_save recipe %>
          </section>

          <!-- <%= form_tag(:controller => 'recipes', :id => recipe.id, :action => 'save', :method => 'post') do %>
            <%= submit_tag "Save" %>
          <% end %>
          <%= form_tag(:controller => 'recipes', :action => 'unsave', :method => 'post', :id => recipe.id ) do %>
            <%= submit_tag "Unsave"%>
          <% end %> -->
        </section>
      <% end %>
    <% end %>
    <p id="navmenu">
      <% if params.has_key?(:p) %>
        <% if Integer(params[:p]) > 1 %>
          <a href="<%= root_url + "/search?q=#{params[:q]}&p=#{Integer(params[:p])-1}" %>">&larr; Previous</a>
        <% end %>
        <% if Integer(params[:p]) > 1 and @recipes.size == 16 %>|<% end %>
        <% if @recipes.size == 16 %>
          <a href="<%= root_url + "/search?q=#{params[:q]}&p=#{Integer(params[:p])+1}" %>">Next &rarr;</a>
        <% end %>
      <% else %>
        <% if @recipes.size == 16 %>
          <a href="<%= root_url + "/search?q=#{params[:q]}&p=2" %>">Next &rarr;</a>
        <% end %>
      <% end %>
    </p>
  </section>
<% end %>
