<!-- app/views/users/edit.html.erb -->
<%= stylesheet_link_tag params[:controller] %>

<% provide(:title, "Edit user") %>
<h1>Edit your profile</h1>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <p><%= f.label :name, class: 'form' %></p>
    <p><%= f.text_field :name, class: 'form-control' %></p>

    <p><%= f.label :email, class: 'form' %></p>
    <p><%= f.email_field :email, class: 'form-control' %></p>

    <p><%= f.label :password , class: 'form'%></p>
    <p><%= f.password_field :password, class: 'form-control' %></p>

    <p><%= f.label :password_confirmation, "Confirm Password", class: 'form' %></p>
    <p><%= f.password_field :password_confirmation, class: 'form-control' %></p>

    <p><%= f.submit "Save changes" %></p>

  <% end %>

<!-- ADD CANCEL BUTTON --> 
