<!-- app/views/users/new.html.erb -->

<%= stylesheet_link_tag params[:controller] %>

<h1>Sign up for Pantri</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Confirm password: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
