<!-- app/views/users/show.html.erb -->

<%= stylesheet_link_tag params[:controller] %>
<% provide(:title, :name) %>
<!--
<section id="logo-search-container" class="search">
  <header id="logo" onclick="window.location='/'"></header>
</section>
 -->
<header><%= link_to "Edit Profile", edit_user_path(@user) %></header>
<div>
<h1><%= @user.name %></h1>

<section class="recipes">
  <h3><strong>Saved Recipes:</strong></h3>

  <% @user.recipes.each do |recipe| %>
    <a class="recipe-card-link" target="_blank" href="<%= recipe.recipe_url %>">
      <section class="recipe-card">
        <section class="recipe-image" style="background-image:url('<%= recipe.image_url %>');"></section>
        <section class="recipe-info">
          <h1><%= recipe.name %></h1>
          <p class="recipe-servings">Serves <%= recipe.servings %></p>
          <p class="recipe-time">
            Prep:
            <% if recipe.prep_time < 60 %>
              <%= recipe.prep_time %> m
              <% else %>
              <!-- Three significant digits or less are printed -->
              <%= sprintf('%.3g', Float(recipe.prep_time) / 60) %> h
            <% end %>
          </p>
          <p class="recipe-time">
            Cook:
            <% if recipe.cook_time < 60 %>
              <%= recipe.cook_time %> m
            <% else %>
              <!-- Three significant digits or less are printed -->
              <%= sprintf('%.3g', Float(recipe.cook_time) / 60.0) %> h
            <% end %>
          </p>
          <p class="recipe-time">
            Ready in:
            <% if (recipe.prep_time + recipe.cook_time) < 60 %>
              <%= recipe.prep_time + recipe.cook_time %> m
            <% else %>
               <!-- Three significant digits or less are printed -->
              <%= sprintf('%.3g', Float(recipe.total_time) / 60.0) %> h
            <% end %>
          </p>
          <ul>
            <!-- We do the two parts separately so relevant ingredients are at the top -->
            <% recipe.ingredients.collect(&:name).each do |ingredient| %>
              <!-- Otherwise go with default styling -->
              <li><%= ingredient %></li>
            <% end %>
          </ul>
        </section>
      </a>
      <section class ="recipe-save">

        <%= div_for(recipe, class: recipe_url(recipe)) do %>
          <%= link_to_toggle_recipe_save recipe %>
        <% end %>

        <%= form_tag(:controller => 'recipes', :action => 'save', :method => 'post', :id => recipe.id ) do %>
          <%= submit_tag "Save"%>
        <% end %>
        <!-- change these two buttons to one button that toggles between actions -->
        <%= form_tag(:controller => 'recipes', :action => 'unsave', :method => 'post', :id => recipe.id ) do %>
          <%= submit_tag "Unsave"%>
        <% end %>
      </section>
    </section>
  <% end %>
</section>
</div>
