<!-- app/views/users/show.html.erb -->

<%= stylesheet_link_tag params[:controller] %>
<% provide(:title, :name) %>

<section id="logo-search-container" class="search">
  <header id="logo" onclick="window.location='/'"></header>

  <%= form_tag (root_url + "search"), method: :get, :enforce_utf8 => false, id: "search-form" do %>
    <%= text_field_tag :q, params[:q], placeholder: "Type ingredients...", id: "search_bar", :autocomplete => :off, autofocus: "autofocus" %>
    <%= submit_tag "", name: nil, id: "sButton" %>
  <% end %>
</section>

<section id="recipe-container">
  <% if logged_in? %>
    <% if @user.id == current_user.id %>
      <h1 id="uname">Hello, <%= @user.name %>!</h1>
      <h3 id="savedheader">Your Saved Recipes:</h3>
    <% else %>
      <h1 id="uname"> <%= @user.name %>'s Profile!</h1>
      <h3 id="savedheader"> <%= @user.name %>'s Saved Recipes:</h3>
    <% end %>
  <% else %>
    <h1 id="uname"> <%= @user.name %>'s Profile!</h1>
    <h3 id="savedheader"> <%= @user.name %>'s Saved Recipes:</h3>
  <% end %>
  <% @ingredients = Ingredient.select("#{Ingredient.table_name}.*, #{RecipeIngredient.table_name}.recipe_id").joins(:recipe_ingredients).where("#{RecipeIngredient.table_name}.recipe_id in (?)",@user.recipes.pluck(:id)) %>
  <% @user.recipes.each do |recipe| %>
    <section class="recipe-card">
      <a class="recipe-card-link" target="_blank" href="<%= recipe.recipe_url %>">
        <section class="recipe-image" style="background-image:url('<%= recipe.image_url %>');"></section>
        <section class="recipe-info">
          <h1><%= truncate(recipe.name, :length => 42) %></h1>

          <% if recipe.servings > 0 %><p class="recipe-servings">Serves <%= recipe.servings %></p><% end %>

          <% if recipe.prep_time > 0 %>
            <p class="recipe-time">
              Prep:
              <% if recipe.prep_time < 60 %>
                <%= recipe.prep_time %> m
              <% else %>
                <%= sprintf('%.3g', Float(recipe.prep_time) / 60) %> h
              <% end %>
            </p>
          <% end %>

          <% if recipe.cook_time > 0 %>
            <p class="recipe-time">
              Cook:
              <% if recipe.cook_time < 60 %>
                <%= recipe.cook_time %> m
              <% else %>
                <%= sprintf('%.3g', Float(recipe.cook_time) / 60.0) %> h
              <% end %>
            </p>
          <% end %>

          <% if recipe.total_time > 0 %>
            <p class="recipe-time">
              Ready in:
              <% if recipe.total_time < 60 %>
                <%= recipe.total_time %> m
              <% else %>
                <%= sprintf('%.3g', Float(recipe.total_time) / 60.0) %> h
              <% end %>
            </p>
          <% end %>

          <ul>
            <% @ingredients.select { |e| e.recipe_id == recipe.id }.each do |ing| %>
              <li><%= ing.name %></li>
            <% end %>
          </ul>
        </section>
      </a>
      <% if logged_in? %>
        <section class="recipe-save">
          <% if recipe.recipe_belongs_to_user(current_user) %>
            <%= form_tag(:controller => 'recipes', :action => 'unsave', :method => 'post', :id => recipe.id ) do %>
              <%= submit_tag "Unsave" %>
            <% end %>
          <% else %>
            <%= form_tag(:controller => 'recipes', :action => 'save', :method => 'post', :id => recipe.id ) do %>
              <%= submit_tag "Save", :data => { :disable_with => "Saved" } %>
            <% end %>
          <% end %>
        </section>
      <% end %>
    </section>
  <% end %>
  <% if logged_in? %>
    <% if @user.id == current_user.id %>
      <p id="shareinfo">Share your recipes with friends using this link:<br /><input onclick="this.select();document.execCommand('copy');this.value='Copied!';this.disabled='disabled'" value="<%= request.original_url %>"></input></p>
    <% else %>
      <p id="shareinfo">Share <%= @user.name %>'s recipes with friends using this link:<br /><input onclick="this.select();document.execCommand('copy');this.value='Copied!';this.disabled='disabled'" value="<%= request.original_url %>"></input></p>
    <% end %>
  <% else %>
    <p id="shareinfo">Share <%= @user.name %>'s recipes with friends using this link:<br /><input onclick="this.select();document.execCommand('copy');this.value='Copied!';this.disabled='disabled'" value="<%= request.original_url %>"></input></p>
  <% end %>
</section>
