<!DOCTYPE html>
<html>
  <head>
    <title>pantri</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <section id="login">
      <p id="signBtn"><%= link_to 'Sign in', controller: 'users' %></p>
      <p id="feedbackBtn"><%= link_to 'Tell us how we\'re doing!', controller: 'user_comments' %></p>
    </section>
  </body>
</html>
